{% extends "blogengine/includes/base.html" %}

    {% block content %}

    <ul class="categories container">
    {% for category, post_list in list_posts.items %}
      <li class="row">
        {% if post_list %}
        <h1>{{ category }}</h1>

        <ul class="posts"> 
        {% for post in post_list %}
            <li class="post row">
                <a class="title" href="{{ post.get_absolute_url }}">{{post.title}}</a>
                <span class="date">- {{ post.pub_date | date:"M j, Y"}}</span>
            </li>
        {% endfor %} 
        </ul>
        {% endif %}
      </li>
    {% endfor %} 
    </ul>

    {% endblock %}
